{% extends "base_generic.html" %}
{% block content %}
<h1>Flow List</h1>
{% if flow_list %}
    <table border="1">
        <tr>
            <th>name</th>
            <th>create_time</th>
        </tr>
        {% for flow in flow_list %}
        <tr>
            <td><a href="{{ flow.get_absolute_url }}">{{ flow.name }}</a></td>
            <td>{{ flow.create_time }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are no flows in the library.</p>
{% endif %}
{% endblock %}
