{% extends "base_generic.html" %}
{% block content %}
<table border="1">
    <tr>
        <td>flow name</td>
        <td>{{ flow.name }}</td>
        <td id="flowid">{{ flow.id }}</td>
        <td><input type="button" onclick="reminder()" value="执行" /></td>
    </tr>
    <tr>
        <td>flow create_time</td>
        <td>{{ flow.create_time }}</td>
    </tr>
</table>
<h2>sorted method list</h2>
{% if mrank_list %}
    <table id="fmlist" border="1">
        <tr>
            <th>rank</th>
            <th>ip</th>
            <th>username</th>
            <th>command</th>
            <th>comments</th>
        </tr>
        {% for mrank in mrank_list %}
        <tr>
            <td>{{ mrank.rank }}</td>
            <td>{{ mrank.ip }}</td>
            <td>{{ mrank.username }}</td>
            <td>{{ mrank.command }}</td>
            <td>{{ mrank.comments }}</td>
            <td >{{ mrank.methodid }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>no method related</p>
{% endif %}

{% endblock %}
