{% extends "base_generic.html" %}
{% block content %}
<table border="1">
    <tr>
        <td>flow name</td>
        <td>{{ flow.name }}</td>
    </tr>
    <tr>
        <td>flow create_time</td>
        <td>{{ flow.create_time }}</td>
    </tr>
</table>
<h2>related method list</h2>
{% if method_list %}
    <table border="1">
        <tr>
            <th>ip</th>
            <th>username</th>
            <th>command</th>
        </tr>
        {% for method in method_list %}
        <tr>
            <td>{{ method.ip.ip }}</td>
            <td>{{ method.username.username }}</td>
            <td>{{ method.command }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>no method related</p>
{% endif %}

{% endblock %}
